
.fashions{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 85px;
}
.fashion{
  width: 1300px;
  height: auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 30px;
  &__btn1{
    left: 0%;
 
  }
  &__btn2{
    left: 0%;
    &--icon{
      width: 26px;
      height: 26px;
    }
  }
  &__btn1, &__btn2{
    display: none;
    z-index: 6;
    width: 55px;
    height: 55px;
    border: none;
    outline: none;
    background-color:black;
    color:#fff;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    
  }
  &__item{
    width: 302px;
    height: 400px;
    display: flex;
    flex-direction: column;
    &--link{
      text-decoration: none;
      &__img{
        width: 300px;
        height: 300px;
      }
    }
    &--wrapper{
      padding: 20px;
      &__div{
        display: flex;
        align-items:center;
        justify-content: space-between;
      }
      &__heading{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
