
.cards{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin-top: 85px;
}
.card{
  width: 1300px;
  height: auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 30px;
  &__btn1{
    left: 5.5%;
 
  }
  &__btn2{
    left: 91.5%;
    &--icon{
      width: 26px;
      height: 26px;
    }
  }
  &__btn1, &__btn2{
    display: none;
    z-index: 6;
    width: 55px;
    height: 55px;
    border: none;
    outline: none;
    background-color:black;
    color:#fff;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    
  }
  &__item{
    width: 302px;
    height: 458px;
    -webkit-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    -moz-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    display: flex;
    flex-direction: column;
    &--link{
      text-decoration: none;
      &__img{
        width: 300px;
        height: 300px;
      }
    }
    &--wrapper{
      padding: 20px;
      &__div{
        display: flex;
        align-items:center;
        justify-content: space-between;
        &--icon{
          width: 35px;
          height: 35px;
          background-color: rgb(221, 217, 217);
          padding: 7px;
          border-radius: 50%;
          cursor: pointer;
        }
        &--icon:hover{
          background-color: rgb(57, 29, 158);
        }
      }
      &__span{
        width: 20px;
        height: 20px;
        color: gold;
      }
      &__heading{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

}

//
.card:hover .cart__btn1 {display: block;}
.card:hover .cart__btn2 {display: block;}
